.places__image {
    max-width: 460px;
    height: 460px;
}

@media screen and (max-width: 1279px) {
    .places__image {
        max-width: 440px;
        height: 440px;
    }
}

@media screen and (max-width: 1023px) {
    .places__image {
        max-width: 340px;
        height: 340px;
    }
}

@media screen and (max-width: 767px) {
    .places__image {
        max-width: 320px;
        height: 320px;
    }
}