.intro__list {
    max-width: 100%;
    font-family: 'Inter', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .intro__list {
        max-width: 288px;
    }
}