.footer {
    display: flex;
    justify-content: space-between;
    max-width: calc(100% - 96px);
    margin: 90px auto 24px;
    color:#FFFFFF;
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 767px) {
    .footer {
        margin: 64px 118px 24px 16px;
        flex-direction: column;
    }
}