.places__url-heading {
    max-width: 100%;
    font-family: 'Inter', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0;
    margin-bottom: 12px;
}